#footer {
    text-align: center;
    position: fixed;
    top: 88.5%;
    width: 100%;
    height: 100%;
    left: 0;
}

#footer a.main {
    background-image: url('../images/Footer/home_h_off.png');
    width: 25%;
    height: 12%;
    margin: auto;
    float: right;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
}

#footer a.main.active {
    width: 25%;
    height: 12%;
    margin: auto;
    background-image: url('../images/Footer/home_h_on.png');
    float: right;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
}

#footer a.donate {
    background-image: url('../images/Footer/donation_h_off.png');
    width: 25%;
    height: 12%;
    margin: 0;
    float: right;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
}

#footer a.donate.active {
    background-image: url('../images/Footer/donation_h_on.png');
    width: 25%;
    height: 12%;
    margin: 0;
    float: right;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
}

#footer a.msg {
    background-image: url('../images/Footer/messages_h_off.png');
    width: 25%;
    height: 12%;
    margin: 0;
    float: right;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
}

#footer a.msg.active {
    background-image: url('../images/Footer/messages_h_on.png');
    width: 25%;
    height: 12%;
    margin: 0;
    float: right;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
}

#footer a.profile {
    background-image: url('../images/Footer/profile_h_off.png');
    width: 25%;
    height: 12%;
    margin: 0;
    float: right;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
}

#footer a.profile.active {
    background-image: url('../images/Footer/profile_h_on.png');
    width: 25%;
    height: 12%;
    margin: 0;
    float: right;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
}